.page-content.page-index {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
}

#shop-item-filter {
    width: 8rem;
    min-width: 5rem;
    margin: 16px;
    padding: 0.5rem 1rem;
    align-self: flex-start;
    border-right: 1px solid hsla(0, 0%, 0%, 0.25);
}

#shop-item-filter h2 {
    font-size: 32px;
    margin: 0 0 1rem 0;
}

#shop-item-filter > div {
    border-top: 1px dashed hsla(0, 100%, 30%, 0.25);
    margin-bottom: 1rem;
}

#shop-item-filter select {
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 8rem;
}

#shop-item-list {
    max-width: 60vw;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    grid-gap: 20px;
    justify-items: center;
}

.shop-item {
    padding: 1rem;
    margin: 1rem;

    border: 1px solid hsla(0, 0%, 0%, 0.25);
    box-shadow: 2px 2px 8px 2px hsla(0, 0%, 0%, 0.25);
    
    font-family: 'Roboto', sans-serif;

    max-width: min(9rem, 30vw);
    width: 9rem;
    display: flex;
    flex-direction: column;
}

img.shop-item-img {
    object-fit: scale-down;
}

.shop-item-name {
    font-family: 'Open Sans', sans-serif;
    color: var(--p-color);
    margin: 8px 0px 8px 0px;

    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
}

.shop-item-discount {
    display: inline-block;
    padding: 1px 5px;
    background-color: #ff2f6e;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
}

.shop-item-price-before {
    text-decoration: line-through;
    font-size: 11px;
    color: hsla(0, 0%, 0%, 0.50);

}

.shop-item-price-after {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin-top: auto;
}

.shop-item-sold {
    font-size: 10px;
    color: hsla(0, 0%, 0%, 0.50);
}

.shop-item-stock {
    font-size: 14px;
}

#page-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4px;
    font-family: Roboto, sans-serif;
    margin-bottom: 4rem;
}

#page-navigation > * {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 2rem;
    height: 2rem;
}

#page-back:hover, #page-next:hover, .page-select:hover {
    cursor: pointer;
}

#page-back, #page-next, .page-select {
    border: 1px solid hsla(0, 0%, 0%, 0.25);
}

.page-nav-spacing{
    cursor: default;
}

.page-selected {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(0, 38, 144);
    border: 1px solid rgb(0, 38, 144);
}

#page-back[disabled],
#page-next[disabled] {
    color: hsla(0, 0%, 0%, 0.25);
}

#page-back[disabled]:hover,
#page-next[disabled]:hover {
    cursor: not-allowed;
}