<script>
    function onSiteLoad(){
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            updateList(JSON.parse(this.response))
        }

        xhttp.open("GET", "/shop_items");
        xhttp.send();  
        
        
    }

    function updateList(items){
        const itemList = document.getElementById("shop-item-list");
        const temp = document.getElementsByTagName("template")[0];
        const item = temp.content.querySelector(".shop-item");

        for(itemData of items){
            const newItem = document.importNode(item, true);
            newItem.querySelector('.shop-item-name').textContent = itemData.nama;
            newItem.querySelector('.shop-item-price').textContent = itemData.harga;
            newItem.querySelector('.shop-item-stock').textContent = itemData.stock + " left!";
            itemList.appendChild(newItem);
        }
    }
</script>

<template>
    <div class="shop-item">
        <span class="shop-item-name"></span>
        <br>
        <span class="shop-item-price"></span>
        <span class="shop-item-stock"></span>
        <br>
        <br>
    </div>
</template>

<body onload="onSiteLoad()">
    <h1>Hello, <%=name%>!</h1>
    
    <p>Balance : Rp. <%=balance%></p>
    <p>Cart Items : <%=cart_data%></p>

    <br>
    <div id="shop-item-list"></div>
    
</body>

