.page-content.transaksi-content {
    padding-bottom: 4rem;
}

.transaksi-heading {
    width: 90%;
    margin-top: 2rem;
    padding-bottom: 1.5rem;

    border-bottom: 1px solid hsl(0, 0%, 75%);
}

#transaksi-container {
    width: 90%;
    display: grid;
    column-gap: 1rem;

    grid-template-columns: 18rem auto;
}

/* ===================== */
/* Side transaction list */
/* ===================== */
#transaksi-list-container {
    padding: 0rem 1rem 0 0;
    height: 29rem;    

    overflow: scroll;
    overflow-x: hidden;

    position: relative;
}

#transaksi-list-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 450px;
}

#transaksi-list-container::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

#transaksi-list-container::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background-color: hsl(0, 0%, 90%);
}

.transaksi-list-item {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1rem;

    justify-content: space-between;    /* horizontal alignment of grid tracks */
    align-content: space-between; 
    align-items: center;
    padding: 1rem;
    border: 1px solid hsl(0,0%,75%);
}



.transaksi-list-item > * > span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.transaksi-list-item > * > span:first-child{
    color: hsl(0, 0%, 75%);
}

.list-item-detail-button {
    padding: 4px 8px;
    font-weight: 600;
    background-color: white;
    color: #01004A;
    border: 2px solid #01004A;
    font-size: 12px;
    font-weight: 700;
}

.list-item-detail-button:focus,
.list-item-detail-button:hover {
    outline: none;
    background-color: #01004A;
    color: white;
}

.list-item-detail-button:active{
    outline: 1px solid white;
    outline-offset: -4px;
}


/* ================== */
/* Transaction Detail */
/* ================== */

#transaksi-item-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border: 1px solid hsl(0, 0%, 75%);
}

#transaksi-item-container > *:nth-last-child(-n+2){
    align-self: flex-end;
}

#transaksi-item-container > h2 {
    font-size: 21px;
    font-weight: bold;
}

.transaksi-info-details-top {
    display: grid;
    grid-template-columns: 7rem auto;
    grid-template-rows: 1fr 1fr;
    font-size: 12px;
}

.transaksi-info-details-top > *:nth-child(2n-1){
    color: hsl(0, 0%, 75%);
}

/* Details body */

.transaksi-info-details-body {
    margin-top: 1rem;
    padding: 0.5rem 0;
    border-top: 2px solid hsl(0, 0%, 90%);
    border-bottom: 1px solid black;
}

.details-body-labels {
    width: 100%;
    display: grid;
    grid-template-columns: auto 10rem;
    justify-items: center;
    column-gap: 1rem;
    color: hsl(0, 0%, 75%);
}

/* Details body item */

.transaction-product {
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 86px auto 10rem;
    column-gap: 1rem;
    align-items: center;

    font-family: Helvetica, sans-serif;
}

.transaction-product > *:not(:first-child){
    margin-right: 8px;
}

.transaction-product > *:last-child{
    display: flex;
    margin-right: 2rem;
    padding: 12px 0px 8px 0px;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
}

.transaction-product-item-details *{
    color: black;
    text-decoration: none;
}

.transaction-product-item-details .product-name{
    max-width: 20ch;
}

.product-info-top .price-discount{
    display: inline-block;
    padding: 2px 6px;
    background-color: #ff2f6e;
    color: white;
    font-weight: bold;
    font-size: 12px;
    max-width: 20ch;
}

.product-info-top .price-before{
    font-size: 12px;
    text-decoration: line-through;
    color: hsl(0, 0%, 50%)
}

.product-info-bottom .price-after{
    font-weight: bold;
}

.transaction-product-price-total {
    text-align: right;
    font-weight: bold;
}

/* Transkasi info price on bottom */

.transaksi-info-details-price {
    margin-top: 1rem;
    display: grid;
    width: 30rem;
    grid-template-columns: auto 12rem;
}

.transaksi-info-details-price > * {
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.transaksi-info-details-price > *:nth-child(2n-1){
    color: hsl(0, 0%, 75%);
}

.transaksi-info-details-price > *:nth-child(2n){
    margin-left: auto;
    margin-right: 2rem;
}

.details-grand-total {
    border-top: 1px dashed hsl(0, 0%, 50%);
    padding-top: 1rem;
    display: grid;
    width: 30rem;
    grid-template-columns: auto 12rem;
    color: hsl(0, 0%, 75%);
}

.details-grand-total > * {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.details-grand-total > *:last-child {
    color: black;
    text-align: right;
    padding-right: 2rem;
}
