@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


:root{
    --header-color: #4C49E9;
    --body-bg-color: hsl(0, 0%, 93%);
    --footer-color: hsl(241, 28%, 14%);
    --p-color: hsla(0, 0%, 40%, 1);
    --p-color-footer-primary: hsl(0, 0%, 100%);
    --p-color-footer-secondary: hsl(0, 0%, 60%);
    --a-color-footer: hsl(0, 0%, 70%);

    --red-primary: hsl(0, 100%, 50%);
    --green-primary: hsl(119, 100%, 17%);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h5 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 1rem 0 1rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--p-color);
}

span {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
}

header{
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    justify-content: space-around;
    margin: 0;
}

.product-name {
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: hsl(0, 0%, 50%);
}

/* Contents & Divs CSS */

.nav-logo{
    padding: 0.5rem 0 0.5rem 0;
    height: 3rem;
}

.nav-bar{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.nav-item *{
    margin: min(1rem,1vw);
    margin-top: 0px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    text-decoration: none;
}

.nav-item {
    font-weight: bold;
    display: grid;
    justify-items: end;
}

.nav-item > a{
    margin: 0.5rem;
}

.nav-item > a:hover{
    cursor: pointer;
}

.header-menu-dropdown {
    top: 4rem;
    
    padding: 1rem;

    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

    visibility: hidden;
    transition: opacity 0.25s linear;

    z-index: 100;

    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 0px 0px 8px 8px;
}

#cart-dropdown * {
    color: black;
}

#cart-dropdown .cart-dropdown-item:not(:first-child){
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid hsl(0, 0%, 75%);
}

.cart-dropdown-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 14rem;
    max-height: 4rem;
    margin: 0;
}

.cart-dropdown-item *{
    margin: 0;
}

.cart-dropdown-item-name {
    max-width: 6rem;
    overflow: hidden;

    font-size: 14px;
    margin-right: 8px;
}

.cart-dropdown-item-price {
    margin-left: 8px;
}

.cart-dropdown-item-price .price-total {
    text-align: right;
    width: 100%;
    font-size: 16px;
}

.cart-dropdown-item-price .price {
    text-align: right;
    width: 100%;
    font-weight: normal;
    font-size: 11px;
    font-style: italic;
}

#cart-dropdown-more {
    margin: 0;
}

#cart-dropdown-more * {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8rem;
    margin: 8px;
}

#profile-dropdown span:first-child {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
    padding-bottom: 0.5rem;

    font-weight: bold;
}

#profile-dropdown * {
    margin: 0.5rem;
    color: black;
}

#profile-dropdown a {
    font-weight: normal;
    text-decoration: underline;
}

.page-content{
    width: 75vw;
    min-height: calc(100vh - 8rem - 130px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-left: 1px solid hsl(0, 0%, 75%);
    border-right: 1px solid hsl(0, 0%, 75%);
}

/* 
    I needed this before, but now i dont.
    But i'll keep it here just in case ... 
*/
.flex-align-left{
    align-items: flex-start;
}

.flex-align-right{
    align-items: flex-end;
}

footer{
    background-color: var(--footer-color);
    color: var(--p-color-footer);
    min-height: 6rem;
    padding: 1rem;
}

.footer-container{
    width: 80%; 
    text-align: justify;
    margin: 0 auto;
    padding-top: 1rem;
}

.footer-container *{
    margin: 0.25rem;
}

.footer-container h3{
    color: var(--p-color-footer-primary);
}

.footer-container * > p{
    color: var(--p-color-footer-secondary);
}

.footer-box-1{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.footer-container * > ul{
    list-style: none;
    padding: 0;
}

.footer-container * > ul *{
    margin-left: 0;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1rem;

    color: var(--a-color-footer);
}

.footer-box-2{
    width: 45%;
}

.footer-box-2-container{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

.footer-box-2-div{
    margin: 1rem;
}

.footer-box-2{
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 560px){
    header{
        flex-wrap: wrap;
        flex-shrink: 3;
    }

    .nav-item *{
        font-size: 0.75rem;
    }

    #profile-dropdown {
        top: 6rem;
    }
}
